# Python
venv/
__pycache__/
*.py[cod]
*.log
*.sqlite3
.ipynb_checkpoints/

# Jupyter Notebooks
*.ipynb_checkpoints/

# Env files
.env

# Node
node_modules/
dist/
public/temp/


# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/
